<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <attachFile>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.AttachFile, SitecoreExtension.ImageCrunch" patch:after="*[@type='Sitecore.Pipelines.Attach.Save,Sitecore.Kernel']" />
      </attachFile>
      <uiUpload>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.Upload, SitecoreExtension.ImageCrunch" patch:before="*[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
    <commands>
      <command name="ImageCrunch:CrunchMediaItem" type="SitecoreExtension.ImageCrunch.App.Commands.ShrinkImage,SitecoreExtension.ImageCrunch.App" />
      <command name="ImageCrunch:CrunchMediaTree" type="SitecoreExtension.ImageCrunch.App.Commands.ShrinkImageOnTree,SitecoreExtension.ImageCrunch.App" />
    </commands>
    <settings>
      <setting name="Kraken.ApiKey" value="98f72d024d33c9500e18fa1426ff1c1a" />
      <setting name="Kraken.ApiSecret" value="b8cb8ee49cda1502def39ff8b915905569312708" />
      <setting name="Kraken.MaxImageSize" value="1Mb" />
    </settings>
  </sitecore>
</configuration>