<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <ImageCruncher type="SitecoreExtension.ImageCrunch.Kraken.KrakenCruncher, SitecoreExtension.ImageCrunch.Kraken" />
    <processors>
      <attachFile>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.AttachFile, SitecoreExtension.ImageCrunch" patch:after="*[@type='Sitecore.Pipelines.Attach.Save,Sitecore.Kernel']" />
      </attachFile>
      <uiUpload>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.Upload, SitecoreExtension.ImageCrunch" patch:before="*[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
    <commands>
      <command name="ImageCrunch:CrunchMediaItem" type="SitecoreExtension.ImageCrunch.Web.Commands.ShrinkImage, SitecoreExtension.ImageCrunch.Web" />
      <command name="ImageCrunch:CrunchMediaTree" type="SitecoreExtension.ImageCrunch.Web.Commands.ShrinkImageOnTree, SitecoreExtension.ImageCrunch.Web" />
    </commands>
    <settings>
      <setting name="Kraken.ApiKey" value="19d2d9293c329de7ac908579074d65f6" />
      <setting name="Kraken.ApiSecret" value="bd056ee791b5643057a38aff80834e847d0a5683" />
      <setting name="Kraken.MaxImageSize" value="1Mb" />
    </settings>
  </sitecore>
</configuration>