<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <ImageCruncher type="Mindtree.ImageCrunch.Kraken.KrakenCruncher, Mindtree.ImageCrunch.Kraken" />
    <processors>
      <attachFile>
        <processor mode="on" type="Mindtree.ImageCrunch.Pipelines.AttachFile, Mindtree.ImageCrunch" patch:after="*[@type='Sitecore.Pipelines.Attach.Save,Sitecore.Kernel']" />
      </attachFile>
      <uiUpload>
        <!--<processor mode="on" type="Mindtree.ImageCrunch.Pipelines.Save, Mindtree.ImageCrunch" patch:instead="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']"/>-->
        <processor mode="on" type="Mindtree.ImageCrunch.Pipelines.Upload, Mindtree.ImageCrunch" patch:before="*[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
    <!--<commands>
      <command name="ImageCrunch:CrunchMediaItem" type="Mindtree.ImageCrunch.Web.Commands.ShrinkImage, Mindtree.ImageCrunch.Web" />
      <command name="ImageCrunch:CrunchMediaTree" type="Mindtree.ImageCrunch.Web.Commands.ShrinkImageOnTree, Mindtree.ImageCrunch.Web" />
    </commands>-->
    <settings>
      <setting name="ImageCoreItemRootPath" value="/sitecore/system/Modules/ImageCore/" />
    </settings>
  </sitecore>
</configuration>